body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
/* ضبط اتجاه الموقع للغة العربية */
.content {
    direction: rtl !important;
    text-align: right !important;
}

/* ضبط النقاط والقوائم */
.content ul, .content ol {
    padding-right: 2em !important;
    padding-left: 0 !important;
}

.content li {
    text-align: right !important;
}
